@model IEnumerable<Athletics.News>

@{
    ViewData["Title"] = "Home Page";
}

<section id="news">
    <div class="parallax-one">
        <h2>НОВИНИ</h2>
    </div>
</section>


<section>
    <div class="block">
        <p id="first-news" class="news-title">
            <img src="../img/news/news-0.png" class="news-first-img news-img left-img">
            <span class="news news-title-first-symbol news-first-text">В</span>
            <span class="news news-title-body">изначені імена найкращих в українській легкій атлетиці за підсумками 2020 року.</span>
        </p>
        <p class="news news-date">05.01.2021</p>
        <p class="news news-body">Завершилося голосування за найкращих в українській легкій атлетиці за підсумками 2020 року. Як повідомлялося, найкращими легкоатлеткою і легкоатлетом стали стрибунка у довжину Марина Бех-Романчук і метальник молота Михайло Кохан.</p>
        <p class="news news-body">
            Кохан, як і рік тому, переміг відразу в двох номінаціях. До звання найкращого легкоатлета року він додав також перемогу у номінації «Зірка, яка сходить» серед чоловіків. У жінок вдруге поспіль найкращою тут стала стрибунка у висоту Ярослава Магучіх.
            <a class="news news-link" href="#first-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="second-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-second-img news-img right-img">
            <span class="news news-title-first-symbol news-second-text">K</span>
            <span class="news news-title-body">ids SportCraft Games Online завершено!</span>
        </p>
        <p class="news news-date">04.01.2021</p>
        <p class="news news-body">Протягом трьох тижнів з 07 по 29 грудня 2020 року, близько 500 учасників, серед яких були і юні миколаївські легкоатлети🏃Наталия Сидорович, Тимур Грицай, Артем Томчук, Амалія Канаш, сумлінно виконували вправи та формували корисну звичку, беручи участь у першій спортивній онлайн-грі для дітей та підлітків SportCraft Games Online.</p>
        <p class="news news-body">
            Перед Новим роком учасники, які не пропустили жодного тренування 💪та надіслали відеопідтвердження виконання вправ у телеграм-чат portCraftGames
            <a class="news news-link" href="#second-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="third-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-third-img news-img left-img">
            <span class="news news-title-first-symbol news-third-text">В</span>
            <span class="news news-title-body">изначені імена найкращих в українській легкій атлетиці за підсумками 2020 року.</span>
        </p>
        <p class="news news-date">05.01.2021</p>
        <p class="news news-body">Завершилося голосування за найкращих в українській легкій атлетиці за підсумками 2020 року. Як повідомлялося, найкращими легкоатлеткою і легкоатлетом стали стрибунка у довжину Марина Бех-Романчук і метальник молота Михайло Кохан.</p>
        <p class="news news-body">
            Кохан, як і рік тому, переміг відразу в двох номінаціях. До звання найкращого легкоатлета року він додав також перемогу у номінації «Зірка, яка сходить» серед чоловіків. У жінок вдруге поспіль найкращою тут стала стрибунка у висоту Ярослава Магучіх.
            <a class="news news-link" href="#third-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="fourth-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-fourth-img news-img right-img">
            <span class="news news-title-first-symbol news-fourth-text">K</span>
            <span class="news news-title-body">ids SportCraft Games Online завершено!</span>
        </p>
        <p class="news news-date">04.01.2021</p>
        <p class="news news-body">Протягом трьох тижнів з 07 по 29 грудня 2020 року, близько 500 учасників, серед яких були і юні миколаївські легкоатлети🏃Наталия Сидорович, Тимур Грицай, Артем Томчук, Амалія Канаш, сумлінно виконували вправи та формували корисну звичку, беручи участь у першій спортивній онлайн-грі для дітей та підлітків SportCraft Games Online.</p>
        <p class="news news-body">
            Перед Новим роком учасники, які не пропустили жодного тренування 💪та надіслали відеопідтвердження виконання вправ у телеграм-чат SportCraftGames
            <a class="news news-link" href="#fourth-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="fiveth-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-fiveth-img news-img left-img">
            <span class="news news-title-first-symbol news-fiveth-text">В</span>
            <span class="news news-title-body">изначені імена найкращих в українській легкій атлетиці за підсумками 2020 року.</span>
        </p>
        <p class="news news-date">05.01.2021</p>
        <p class="news news-body">Завершилося голосування за найкращих в українській легкій атлетиці за підсумками 2020 року. Як повідомлялося, найкращими легкоатлеткою і легкоатлетом стали стрибунка у довжину Марина Бех-Романчук і метальник молота Михайло Кохан.</p>
        <p class="news news-body">
            Кохан, як і рік тому, переміг відразу в двох номінаціях. До звання найкращого легкоатлета року він додав також перемогу у номінації «Зірка, яка сходить» серед чоловіків. У жінок вдруге поспіль найкращою тут стала стрибунка у висоту Ярослава Магучіх.
            <a class="news news-link" href="#fiveth-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="sixth-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-sixth-img news-img right-img">
            <span class="news news-title-first-symbol news-sixth-text">K</span>
            <span class="news news-title-body">ids SportCraft Games Online завершено!</span>
        </p>
        <p class="news news-date">04.01.2021</p>
        <p class="news news-body">Протягом трьох тижнів з 07 по 29 грудня 2020 року, близько 500 учасників, серед яких були і юні миколаївські легкоатлети🏃Наталия Сидорович, Тимур Грицай, Артем Томчук, Амалія Канаш, сумлінно виконували вправи та формували корисну звичку, беручи участь у першій спортивній онлайн-грі для дітей та підлітків SportCraft Games Online.</p>
        <p class="news news-body">
            Перед Новим роком учасники, які не пропустили жодного тренування 💪та надіслали відеопідтвердження виконання вправ у телеграм-чат SportCraftGames
            <a class="news news-link" href="#sixth-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="seventh-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-seventh-img news-img left-img">
            <span class="news news-title-first-symbol news-seventh-text">В</span>
            <span class="news news-title-body">изначені імена найкращих в українській легкій атлетиці за підсумками 2020 року.</span>
        </p>
        <p class="news news-date">05.01.2021</p>
        <p class="news news-body">Завершилося голосування за найкращих в українській легкій атлетиці за підсумками 2020 року. Як повідомлялося, найкращими легкоатлеткою і легкоатлетом стали стрибунка у довжину Марина Бех-Романчук і метальник молота Михайло Кохан.</p>
        <p class="news news-body">
            Кохан, як і рік тому, переміг відразу в двох номінаціях. До звання найкращого легкоатлета року він додав також перемогу у номінації «Зірка, яка сходить» серед чоловіків. У жінок вдруге поспіль найкращою тут стала стрибунка у висоту Ярослава Магучіх.
            <a class="news news-link" href="#seventh-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="eighth-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-eighth-img news-img right-img">
            <span class="news news-title-first-symbol news-eighth-text">K</span>
            <span class="news news-title-body">ids SportCraft Games Online завершено!</span>
        </p>
        <p class="news news-date">04.01.2021</p>
        <p class="news news-body">Протягом трьох тижнів з 07 по 29 грудня 2020 року, близько 500 учасників, серед яких були і юні миколаївські легкоатлети🏃Наталия Сидорович, Тимур Грицай, Артем Томчук, Амалія Канаш, сумлінно виконували вправи та формували корисну звичку, беручи участь у першій спортивній онлайн-грі для дітей та підлітків SportCraft Games Online.</p>
        <p class="news news-body">
            Перед Новим роком учасники, які не пропустили жодного тренування 💪та надіслали відеопідтвердження виконання вправ у телеграм-чат SportCraftGames
            <a class="news news-link" href="#eighth-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="ninth-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-ninth-img news-img left-img">
            <span class="news news-title-first-symbol news-ninth-text">В</span>
            <span class="news news-title-body">изначені імена найкращих в українській легкій атлетиці за підсумками 2020 року.</span>
        </p>
        <p class="news news-date">05.01.2021</p>
        <p class="news news-body">Завершилося голосування за найкращих в українській легкій атлетиці за підсумками 2020 року. Як повідомлялося, найкращими легкоатлеткою і легкоатлетом стали стрибунка у довжину Марина Бех-Романчук і метальник молота Михайло Кохан.</p>
        <p class="news news-body">
            Кохан, як і рік тому, переміг відразу в двох номінаціях. До звання найкращого легкоатлета року він додав також перемогу у номінації «Зірка, яка сходить» серед чоловіків. У жінок вдруге поспіль найкращою тут стала стрибунка у висоту Ярослава Магучіх.
            <a class="news news-link" href="#ninth-news">Детальніше...</a>
        </p>

        <p class="line-break margin-top-10"></p>

        <p id="tenth-news" class="news-title news-ident">
            <img src="../img/news/news-0.png" class="news-tenth-img news-img right-img">
            <span class="news news-title-first-symbol news-tenth-text">K</span>
            <span class="news news-title-body">ids SportCraft Games Online завершено!</span>
        </p>
        <p class="news news-date">04.01.2021</p>
        <p class="news news-body">Протягом трьох тижнів з 07 по 29 грудня 2020 року, близько 500 учасників, серед яких були і юні миколаївські легкоатлети🏃Наталия Сидорович, Тимур Грицай, Артем Томчук, Амалія Канаш, сумлінно виконували вправи та формували корисну звичку, беручи участь у першій спортивній онлайн-грі для дітей та підлітків SportCraft Games Online.</p>
        <p class="news news-body">
            Перед Новим роком учасники, які не пропустили жодного тренування 💪та надіслали відеопідтвердження виконання вправ у телеграм-чат SportCraftGames
            <a class="news news-link" href="#tenth-news">Детальніше...</a>
        </p>
    </div>
</section>

<form action="/search" method="get">
    <input type="text" name="query" value="" />
    <button type="submit">Шукати</button>
</form>